div(class="page__line page__line--about-us")
	div.page__cell
		section(class="section about-us", id="about-us")
			div(class="about-us__text animated slide-left")
				h2.heading about us
				p.text.
					Analytics release series A financing launch party interaction design android angel investor. Vesting period social media sales conversion launch party rockstar incubator customer social proof graphical user interface technology supply chain. Non-disclosure agreement rockstar creative partner network launch party social proof paradigm shift long tail influencer. Monetization validation success. Seed round channels product management. Customer non-disclosure agreement strategy android growth hacking ramen buyer.
			div(class="about-us__picture photo--border animated slide-right")
				img(src="images/aboutUs.jpg", alt="about us", class="img")