div(class="page__line page__line--our-focus")
	div(class="page__cell")
		section(class="section", id="our-focus")
			h2(class="heading") our focus
			p(class="title-description") We understand your requirement and provide quality works
			div(class="focuses")
				div(class="focus-item colored-1")
					span(class="icon icon--focus-web")
					h3(class="item-heading") Web Design
					p(class="item-description").
						Analytics release series A financing launch party interaction design android angel investor.
				div(class="focus-item colored-2")
					span(class="icon icon--focus-ux")
					h3(class="item-heading") UX Design
					p(class="item-description").
							Analytics release series A financing launch party interaction design android angel investor.
				div(class="focus-item colored-3")
					span(class="icon icon--focus-photo")
					h3(class="item-heading") Photography
					p(class="item-description").
						Analytics release series A financing launch party interaction design android angel investor.
				div(class="focus-item colored-4")
					span(class="icon icon--focus-app")
					h3(class="item-heading") App Development
					p(class="item-description").
						Analytics release series A financing launch party interaction design android angel investor.