div(class="page__line page__line--heading", style="background-image: url(images/banner.jpeg);")
			div.page__cell
				section.section
					h2.hidden Company Presentation
					p.heading-text.
						We design things with love and pation
					a(href="#portfolio", class="link button") Our Works
					ul.feachers
						li(class="feachers-item colored-2")
							span(class="icon icon--price")
							span fixed price projects
						li(class="feachers-item colored-3")
							span(class="icon icon--clock")
							span receive on time
						li(class="feachers-item colored-4")
							span(class="icon icon--check")
							span satisfaction guranteed