doctype
html
	include head.jade
	body(class="page")
		div(class="loaderArea")
			div(class="loader")
			div(class="loader")
		include header.jade
		include heading.jade
		include about_us.jade
		include focus.jade
		include video.jade
		include portfolio.jade
		include team.jade

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script.
		$(window).on('load', function () {
			$preloader = $('.loaderArea'), $loader = $preloader.find('.loader');
			$preloader.fadeOut();
			$loader.delay(3500).fadeOut('slow');})
	script(src="../lib/owlcarousel/owl.carousel.min.js")
	script(src="../js/custom.js")