div(class="page__line page__line--portfolio")
	div.page__cell
		section(id="portfolio", class="section")
			h2.heading portfolio
			p(class="title-description").
				We understand your requirement and provide quality works
			- var projectList = [{name: "Project One", url: "#", img: "images/portfolio/portfolio-itema11.jpg"},{name: "Project Two", url: "#", img: "images/portfolio/portfolio-itema12.jpg"},{name: "Project Three", url: "#", img: "images/portfolio/portfolio-itema13.jpg"},{name: "Project Four", url: "#", img: "images/portfolio/portfolio-itema21.jpg"},{name: "Project Five", url: "#", img: "images/portfolio/portfolio-itema22.jpg"},{name: "Project Six", url: "#", img: "images/portfolio/portfolio-itema23.jpg"},{name: "Project Seven", url: "#", img: "images/portfolio/portfolio-itema31.jpg"},{name: "Project Eight", url: "#", img: "images/portfolio/portfolio-itema32.jpg"},{name: "Project Nine", url: "#", img: "images/portfolio/portfolio-itema33.jpg"}];
			mixin portfolio-item(project)
				li(class="portfolio-item")
					a(href=project.url, class="project-link", target="_blank") 
						img(src=project.img, alt=project.name)
					p(class="portfolio__project-name")= project.name
			ul(class="portfolio-list")
				for project in projectList
					+portfolio-item(project)