div(class="page__line page__line--team")
	div.page__cell
		section(id="our-team", class="section")
			h2.heading our team
			p(class="title-description") We understand your requirement and provide quality works
			div.team
				div(class="team-item colored-1 member--active")
					div.member
						div(class="member-photo photo--grad")
							img(class="img", src="images/team/male.jpg", alt="Michael Schimitt, Founder and SEO")
						h3(class="member-name item-heading") Michael Schmitt
						p(class="member-position item-description") Founder &#38; CEO
					div(class="member-info") 
						div(class="inner")
							p(class="item-heading") About Bennet
							div(class="personal-info")
								p.text.
									Text about person 1. Michael Schimitt was born in 1979 in rich farmes family. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos atque id praesentium aspernatur sint quod tempora perspiciatis est tenetur ut dolorum voluptas vitae rem quas deserunt nulla, voluptates fuga natus voluptatum deleniti. Iusto numquam at, ipsa facilis quas. Perferendis et similique, esse consequatur laboriosam nostrum.
								span(class="svg-icon icon-link") 
									// svg.svg
									// 	use(xlink:href="#link")
								ul(class="member-links")
									li(class="social-links")
										a(href="facebook.com/id11111", class="link link--fb")
									li(class="social-links")
										a(href="twitter.com/id11111", class="link link--tw")
									li(class="social-links")
										a(href="linkedin.com/id11111", class="link link--li")
									li(class="social-links")
										a(href="instagram.com/id11111", class="link link--in")
							span.arrow &#9650;
				div(class="team-item colored-2")
					div.member
						div(class="member-photo photo--grad")
							img(class="img", src="images/team/male.jpg", alt="David Kramer, Lead Developer")
						h3(class="member-name item-heading") David Kramerbergins
						p(class="member-position item-description") Lead Developer
					div(class="member-info") 
						div(class="inner")
							p(class="item-heading") About Bennet
							div(class="personal-info")
								p.text.
									David Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet, illo tempora suscipit est veritatis consequatur in tempore quae nihil labore error cum deleniti quam aliquid delectus. Distinctio omnis nisi veritatis necessitatibus, ea, odit obcaecati. Rem sequi, magni. Soluta!
								span(class="svg-icon icon-link") 
									// svg.svg
									// 	use(xlink:href="#link")
								ul(class="member-links")
									li(class="social-links")
										a(href="facebook.com/id22222", class="link link--fb")
									li(class="social-links")
										a(href="twitter.com/id22222", class="link link--tw")
									li(class="social-links")
										a(href="linkedin.com/id22222", class="link link--li")
									li(class="social-links")
										a(href="instagram.com/id22222", class="link link--in")
							span.arrow &#9650;
				div(class="team-item colored-3")
					div.member
						div(class="member-photo photo--grad")
							img(class="img", src="images/team/male.jpg", alt="Anna Schroder, Designer")
						h3(class="member-name item-heading") Anna Schroder
						p(class="member-position item-description") Designer
					div(class="member-info") 
						div(class="inner")
							p(class="item-heading") About Bennet
							div(class="personal-info")
								p.text.
									Anna is a woman. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui earum a, at placeat iure veniam inventore similique cumque molestiae animi, necessitatibus laboriosam ipsa rerum in autem vero vitae doloremque natus sint, neque. Repellat, quasi neque? Eaque, enim animi quibusdam nobis, voluptates vero placeat tenetur, assumenda quam ullam accusantium suscipit!
								span(class="svg-icon icon-link") 
									// svg.svg
									// 	use(xlink:href="#link")
								ul(class="member-links")
									li(class="social-links")
										a(href="facebook.com/id33333", class="link link--fb")
									li(class="social-links")
										a(href="twitter.com/id33333", class="link link--tw")
									li(class="social-links")
										a(href="linkedin.com/id33333", class="link link--li")
									li(class="social-links")
										a(href="instagram.com/id33333", class="link link--in")
							span.arrow &#9650;
				div(class="team-item colored-4")
					div.member
						div(class="member-photo photo--grad")
							img(class="img", src="images/team/male.jpg", alt="Jason Teichmann, Consultant")
						h3(class="member-name item-heading") Jason Teichmann
						p(class="member-position item-description") Consultant
					div(class="member-info") 
						div(class="inner")
							p(class="item-heading") About Bennet
							div(class="personal-info")
								p.text.
									Jason is our consultant. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor temporibus, ad, est quisquam quia. Quas, accusantium eaque asperiores autem id reprehenderit cum aliquid, molestiae.
								span(class="svg-icon icon-link") 
									// svg.svg
									// 	use(xlink:href="#link")
								ul(class="member-links")
									li(class="social-links")
										a(href="facebook.com/id444444", class="link link--fb")
									li(class="social-links")
										a(href="twitter.com/id444444", class="link link--tw")
									li(class="social-links")
										a(href="linkedin.com/id444444", class="link link--li")
									li(class="social-links")
										a(href="instagram.com/id444444", class="link link--in")
							span.arrow &#9650;


